#!/bin/bash
#
#all commands that start with SBATCH contain commands that are just used by SLURM for scheduling
#################
#set a job name
#SBATCH --job-name={{ item.name }}
#################
#a file for job output, you can check job progress
#SBATCH --output={{ item.name }}.out
#################
# a file for errors from the job
#SBATCH --error={{ item.name }}.err
#################
#time you think you need; default is one hour
#in minutes in this case, hh:mm:ss
#SBATCH --time={{ item.time }}
#################
#quality of service; think of it as job priority
#SBATCH --qos=normal
#################
#number of nodes you are requesting
#SBATCH --nodes={{ item.nodes }}
#################
#memory per node; default is 4000 MB per CPU
#SBATCH --mem={{ item.mem }}
#you could use --mem-per-cpu; they mean what we are calling cores
#################
#tasks to run per node; a "task" is usually mapped to a MPI processes.
# for local parallelism (OpenMP or threads), use "--ntasks-per-node=1 --cpus-per-task=16" instead
#SBATCH --ntasks-per-node={{ item.tasks }}
#################

module load openmpi/1.10.2/gcc
module load python/3.3.2

export PYTHONPATH={{ stacks_dirs.src }}

mpirun -x PYTHONPATH $PYTHONPATH/env/bin/python \
    $PYTHONPATH/bin/{{ item.name }}.py
