
[program:{{ item.name }}]

command={{ item.command }}

stopasgroup={{ item.stopasgroup | default(true) }}

autostart={{ item.autostart | default(true) }}

{% if item.directory is defined %}
directory={{ item.directory }}
{% endif %}

{% if item.numprocs is defined %}
numprocs={{ item.numprocs }}
process_name=%(program_name)s_%(process_num)02d
{% endif %}
