
[program:{{ item.name }}]

command={{ item.command }}

{% set config = item.config | default({}) %}

{% for key, val in (supervisor_config | combine(config)).items() %}
{{ key }}={{ val }}
{% endfor %}

{% if config.numprocs is defined and config.numprocs > 1 %}
process_name=%(program_name)s_%(process_num)02d
{% endif %}
