

from .base import *


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ stacks_db_name }}',
        'USER': '{{ stacks_db_user }}',
        'PASSWORD': '{{ stacks_db_pass }}',
    }
}


RQ_QUEUES = {
    'default': {
        'HOST': 'localhost',
        'PORT': 6379,
        'DB': 0,
    },
}


STATIC_ROOT = '{{ stacks_src }}/static'
